.title {
  text-transform: uppercase;
  font-weight: 100;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.reset,
.save {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 1px solid #f65261;
  border-radius: 4px;
  cursor: pointer;
}

.reset {
  color: #f65261;
  background: #232323;
}

.save {
  color: #ffffff;
  background: #f65261;
}

.label {
  color: #f65261;
  text-transform: uppercase;
}

.select {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  text-indent: 10px;
  color: #ffffff;
  background: #424242;
  border: none;
  border-radius: 4px;
}
